.property-details-subtitles
{
    color: #8F9092;
    font-size: small;
}
.property-details-title
{
    color: #1E243E;
}

.detail-btn
{
    background-color: #3554D1;
}

.sort-btn
{
    background-color: #F5F5FF;
    color: #4A4D61;
}